body {
  font-family: 'Montserrat';
  text-align: center;
}

p {
  color: #8f8f8f;
}

/* containers */
.container-fluid {
  padding: 7% 15%;
}

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* headings */
.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

/* navigation bar*/
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: 400;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 100;
}

/* download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
}

/* feauture section */
#features {
  position: relative;
  z-index: 1;
}

.feature-box {
  padding: 4.5%;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 900;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonila section */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* footer */
.button-footer {
  margin: 1%;
}

.para-footer {
  font-size: .8rem;
  font-weight: 400;
}

  
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: relative;
    transform: rotate(0);
  }
}
